@charset "utf-8";

[lang="zh-HK"] {
    font-family: 'Noto Sans TC', serif !important;
}

body {
	font-family: "Outfit", serif;
  	margin: 0;
}

section {
	height: 600px;
	background-color: #f0f0f0;
	display: flex;
}

nav {
	margin-top:0px;
	padding-left:50px;
	margin-bottom:0px;
	outline: none;

	background-color: #4696c8;
	overflow: hidden;
	top:-1000px;
	position: sticky;
	transition: top 3s ease-in-out;
	top: 0;
	z-index: 1;
}

.Nav_Div {

	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	
	display:inline-block;
}

.Nav a {
	font-family: "Outfit", serif;
	font-weight: 350;
	font-size:18px;
	
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	
	padding: 14px;
}

.Nav a:hover {

	transition: 0.3s ease;

	font-family: "Outfit", serif;
	font-weight: 450;
	
	background-color: #dddddd;
	color: black;
}

.Nav_Title{
	font-size:20px;
	font-weight:525; 
	
	float: left;
	padding:0px 14px 0px 0px;
	margin-top: 12px;
	margin-bottom: 0px;
	
	display: inline;
	color: white;
}

.div-Header {

	overflow: hidden;
	white-space: nowrap;
	height: 760px;

	margin-top:0px;
	padding-top:0px;
	padding-bottom:30px;
	width: 100%;
	
	background-image: url("Images/Church_Ext1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.Emblem {
	position:absolute;
	left:80px;
	top:400px;

	width:100px;

	padding:10px 46px 10px 46px;

	border-style:solid;
	border-width:5px;
	border-radius:50px;
	border-color:hsl(189, 100%, 62%);
	background-color:hsl(0, 0%, 100%, 44%);
}

.Banner-Title {
	overflow: hidden;
	white-space: nowrap;
	
	top: 585px;
	left: 80px;
	position:absolute;

	
	font-family: "Outfit", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-size: 50px;

	line-height:1.05;
	color:white;
}

/* Scroll Down Menu */
.Scroll_menu {

	border-radius:10px;

	overflow: hidden;
	white-space: nowrap;
	
	float: right;
	top:-725px;
	right:100px;
	position:absolute;
	
	width: 300px;
	height: 800px;
	
	background-color: #47bfde;
	transform-origin: top; /* Important for scaling effect */
	
	display: flex;
	
	justify-content: center;
	align-items: center;
}

.Scroll_menu h6 {
	position:absolute;
	float:center;
	align-self: flex-end;

	margin-bottom: 20px;
	
	font-weight: 500;
	font-size: 30px;
	color: white;
}

.Scroll_menu a {

	font-weight:550;

	border-style:solid;
	border-radius:5px;

	transition: 0.6s ease;

	font-size:25px;
	padding-left:80px;
	padding-right:80px;
	padding-top:10px;
	padding-bottom:10px;

	margin:0px 0px 10px 0px;

	text-align:center;

	display:block;
	float:center;
	text-decoration:none;
	color:white;
}

.Scroll_menu a:hover {
	color: #47bfde;
	border-color:white;
	background-color: white;
}


h2 {
	display:block;
	font-size: 50px;
	margin-bottom:0px;
}

.Godray {

	text-align:left;

	z-index: 0;

	height:600px;
	width: 350px;

	top:0px;
	margin-left:40px;
	padding:0px 50px 50px 50px;
	position:absolute;

	background:
		linear-gradient(
			to bottom,
			hsl(0, 0%, 100%,80%),
			hsl(0, 0%, 100%,0%)
		);
}

.News-Detailed {
	padding-top:0px;
	margin-top:75px;
	margin-left:0px;
}

.News-Detailed table {
	border-style:solid;
	border-color:white;

	height:600px;
	width:90%;

	margin-left:78px;
	margin-right:80px;
	vertical-align:top;

	margin-top:0px;
}

.News-Detailed table td {
	margin-top:0px;
	padding-top:0px;

	vertical-align:top;
}

.Calendar {

	top:30px;
	margin-left:150px;
	position:relative;
	float:right;

	height:450px;
	width:450px;

	background-color:#47bfde;
	text-align:center;
	color:white;
	
	border-style:solid;
	border-radius:20px;
}

.Calendar h2 {
	top:-30px;
	position:relative;
}

aside{

	padding-top:0px;
	margin-top:0px;

	align-self:top;
	float:center;
}
/* About Us */
.About {
	display:block;

	margin-left:80px;
	margin-right:80px;
}

/* Slideshow */
.slideshow-container{

	height:400px;

	padding-left:30px;
	padding-top:10px;
	padding-right:30px;
	padding-bottom:10px;

	position: relative;
	display:block;

	border-style:solid;
	border-color:#7e7e7e;
	border-radius:10px;
}

.slideshow-slide{
	display:none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	transition: 0.6s ease;

	float:left;
	top:370px;
	padding-left: 7px;
	padding-right: 7px;

	color: black;

	font-weight: bold;
	font-size: 18px;

	border-style:solid;
	border-radius: 100%;
	border-color:black;
	border-width:2px;

	user-select: none;
}

.prev:hover, .next:hover{
	background-color: #999999;
	color:white;
	border-color:transparent;
}

.next {
	float: right;
	right: 30px;
	border-radius: 100%;
}

.fade {
	animation-name: fade !important;
	animation-duration: 1.5s !important;
}

.Footer-Fade-T {

	margin-top:10px;

	width:100%;
	height:10px;

	background:
	linear-gradient(
		white,
		#6fbeee
	);
}

.Footer-Fade-B {

	margin-bottom:10px;

	width:100%;
	height:5px;

	background:
	linear-gradient(
		#6fbeee,
		white
	);
}
.Footer-Main {

	color:white;

	width:100%;
	height:165px;

	background-color:#6fbeee;

}

.FTable-Main {
	padding-top:30px;
	margin-left:80px;
	width:calc(100% - 180px);
}

.FTable-Main td{
	vertical-align: bottom;
}

.FTable-Left td{
	border-style:solid;
	border-radius:10px;

	width:200px;
	text-align: left;
	padding-left:20px;
}

.FTable-Left td:hover{
	transition: 0.3s ease;
	border-style:solid;
	border-color:white;
	background-color:hsl(0, 0%, 100%,33%);
	color:#6fbeee;
}

.FTable-Left a{
	text-decoration: none;
	color:white;
}

.Join-FB {
	text-align:left;
	margin-right:50%;
}

.Join-FB-Img {

	border-radius:5px;
	border-style:solid;
	border-color:white;

	padding-left:30px;
	background-color:#DFE0F5;

	width:170px;
	height:42px;

}