@charset "utf-8";

[lang="zh-HK"] {
    font-family: 'Noto Sans TC', serif !important;
}

body {
	font-family: "Outfit", serif;
  	margin: 0;
}

section {
	height: 600px;
	background-color: #f0f0f0;
	display: flex;
}

nav {
	margin-top:0px;
	padding-left:50px;
	margin-bottom:0px;
	outline: none;
	
	background-color: #4696c8; /* Dark background for contrast */
	overflow: hidden; /* Hide scrollbars if content overflows */
	position: sticky;
	transition: top 3s ease-in-out; /* Smooth transition for top position change */
	top: 0; /* Initial top position */
	z-index: 1; /* Ensure navbar stays on top */
}

.Nav_Div {

	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	
	display:inline-block;
}

.Nav a {
	font-family: "Outfit", serif;
	font-weight: 350;
	font-size:18px;
	
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	
	padding: 14px;
}

.Nav a:hover {

	transition: 0.6s ease;

	font-family: "Outfit", serif;
	font-weight: 450;
	
	background-color: #ddd;
	color: black;
}

.Nav_Title{
	font-size:20px;
	font-weight:525; 
	
	float: left;
	padding:0px 14px 0px 0px;
	margin-top: 12px;
	margin-bottom: 0px;
	
	display: inline;
	color: white;
}

.div-Header {

	overflow: hidden;
	white-space: nowrap;
	height: 760px;

	margin-top:0px;
	padding-top:10px;
	padding-bottom:30px;
	width: 100%;
	
	background-image: url("Images/Church_Ext1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.Emblem {
	position:absolute;
	left:80px;
	top:400px;

	width:100px;

	padding:10px 46px 10px 46px;

	border-style:solid;
	border-width:5px;
	border-radius:50px;
	border-color:hsl(189, 100%, 62%);
	background-color:hsl(0, 0%, 100%, 44%);
}

.Banner-Title {
	overflow: hidden;
	white-space: nowrap;
	
	padding-top: 565px;
	padding-left: 80px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	
	font-family: "Outfit", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-size: 50px;
	
	display:inline-block;
	line-height:1.05;
	color:white;
}

/* Scroll Down Menu */
.Scroll_menu {

	border-radius:10px;

	overflow: hidden;
	white-space: nowrap;
	
	float: right;
	margin-top:0px;
	margin-right: 100px;
	margin-bottom: 60px;
	
	width: 300px;
	width: fixed;
	height: 500px;
	height: fixed;
	
	background-color: #47bfde;
	transform-origin: top; /* Important for scaling effect */
	
	display: flex;
	
	justify-content: center;
	align-items: center;
}

.Scroll_menu h6 {
	position:absolute;
	float:center;
	align-self: flex-end;

	margin-bottom: 20px;
	
	font-weight: 500;
	font-size: 30px;
	color: white;
}

.Scroll_menu a {

	font-weight:550;

	border-style:solid;
	border-radius:5px;

	transition: 0.6s ease;

	font-size:25px;
	padding-left:80px;
	padding-right:80px;
	padding-top:10px;
	padding-bottom:10px;

	margin:0px 0px 10px 0px;

	text-align:center;

	display:block;
	float:center;
	text-decoration:none;
	color:white;
}

.Scroll_menu a:hover {
	color: #3CA4B6;
	background-color: white;
}


h2 {
	display:block;
	font-size: 50px;
	margin-bottom:0px;
}

.News {
	padding-top:0px;
	margin-top:0px;
	margin-left:0px;
}

.News table {
	border-style:solid;
	border-color:white;

	height:600px;
	width:90%;

	margin-left:78px;
	margin-right:80px;
	vertical-align:top;

	margin-top:0px;
}

.News table td {
	margin-top:0px;
	padding-top:0px;

	vertical-align:top;
}

.Calendar {

	top:30px;
	margin-left:150px;
	position:relative;
	float:right;

	height:450px;
	width:450px;

	background-color:#2bd7e0;
	text-align:center;
	color:white;
	
	border-style:solid;
	border-radius:20px;
}

.Calendar h2 {
	top:-30px;
	position:relative;
}

aside{

	padding-top:0px;
	margin-top:0px;

	align-self:top;
	float:center;
}
/* About Us */
.About {
	display:block;

	margin-left:80px;
	margin-right:80px;
}

/* Slideshow */
.slideshow-container{

	height:400px;

	padding-left:30px;
	padding-top:10px;
	padding-right:30px;
	padding-bottom:10px;

	position: relative;
	display:block;

	border-style:solid;
	border-color:#7e7e7e;
	border-radius:10px;
}

.slideshow-slide{
	display:none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	transition: 0.6s ease;

	float:left;
	top:370px;
	padding-left: 7px;
	padding-right: 7px;

	color: black;

	font-weight: bold;
	font-size: 18px;

	border-style:solid;
	border-radius: 100%;
	border-color:black;
	border-width:2px;

	user-select: none;
}

.prev:hover, .next:hover{
	background-color: #999999;
	color:white;
	border-color:transparent;
}

.next {
	float: right;
	right: 30px;
	border-radius: 100%;
}

.fade {
	animation-name: fade !important;
	animation-duration: 1.5s !important;
}

footer {
	width:100%;
	height:300px;

	/* Scuffed eased gradiant */
	background:
		linear-gradient(
		  to bottom,
		  hsl(189.13, 100%, 45.1%) 0%,
		  hsl(190.26, 80.34%, 50.81%) 4.4%,
		  hsl(191.29, 78.68%, 56.37%) 9.7%,
		  hsl(192.22, 77.16%, 61.76%) 15.6%,
		  hsl(193.05, 75.78%, 66.94%) 22.1%,
		  hsl(193.78, 74.53%, 71.88%) 29%,
		  hsl(194.41, 73.41%, 76.55%) 36.4%,
		  hsl(194.95, 72.41%, 80.91%) 43.9%,
		  hsl(195.42, 71.54%, 84.93%) 51.6%,
		  hsl(195.81, 70.77%, 88.58%) 59.3%,
		  hsl(196.13, 70.12%, 91.81%) 67%,
		  hsl(196.4, 69.58%, 94.58%) 74.4%,
		  hsl(196.6, 69.15%, 96.84%) 81.5%,
		  hsl(196.75, 68.83%, 98.54%) 88.3%,
		  hsl(196.84, 68.64%, 99.62%) 94.4%,
		  hsl(0, 0%, 100%) 100%
		);
	;

}